body {
  font-family: "San Francisco";
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: 30px;
  margin-top: 40px;
  margin-right: 200px;
  margin-left: 200px;
  
}

/* Position HZL logo */
.logo {
float: left;
padding: 20px 20px;
}

/* Edit 90's heading */
h1 {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 10px;

}

/* Edit nav bar */
.navbar {
display: flex;
justify-content: space-between;
}

/* Edit topnav & add background color */
.topnav {
background-color: white;
overflow: hidden;
margin-top: 0;
}

/* Style the links inside the topnav */
.topnav a {
color: black;
float: right;
padding: 30px 30px;
text-decoration: none;
font-size: 40px;
text-transform: lowercase;
}

/* Change the color of topnav links on hover */
.topnav a:hover {
  color: black;
  font-weight: bold;
  font-size: 60px;
}

.topnav a.active {
  background-color: white;
  color: black;
}

/* main container*/
.container {
border-radius: 5px;
background-color: white;
font-size: 15px;
display: flex;
justify-content: space-between;
text-align: center;
padding: 30px 30px;
text-transform: lowercase;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-column-gap: 10px; /* Adjust the spacing value as needed */
}



/* rockos modern life 1993 title */
.custom-link {
text-decoration: none; /* remove underline */
color: black; /* change link color */
font-size: 40px;
}

/* edit rockos modern life 1993 title text */
.custom-l {
font-size: 15px;
text-decoration: none;
color: black;
}

/* rocko logo */
.image-container {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  }

/* edit horizontal gallery */
.marquee-container {
  white-space: nowrap;
  overflow: hidden;
}

.marquee-container img {
  display: inline-block;
  margin-right: 10px; /* Adjust this value to set the space between images */
  animation: marquee 10s linear infinite; /* Adjust this value to set the speed of the animation */
  padding: 10px 10px;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.footer {
overflow: hidden;
}

/* 4 seasons 52 eps */
h4 {
  padding: 10px 10px;
}

.col-sm-4 {
 padding: 50px 20px; 
}

